* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

ul {
  list-style-type: none;
  list-style: none;
}

.container-2 {
  max-width: 1100px !important;
  margin: 0 auto !important;
}

.container {
  max-width: 1078px !important;
  margin: 0 auto !important;
}

.old-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 11px;
  border-bottom: 1px solid #666666ca;
}

.first-child {
  display: flex;
  align-items: center;
  gap: 20px;

  div {
    display: flex;
    align-items: start;
    color: rgba(51, 51, 51, 0.7);
    font-size: 14px;
    gap: 12px;
    font-weight: 400 !important;
  }
}

.second-child {
  display: flex;
  align-items: start;
  gap: 8px;
  color: rgba(51, 51, 51, 0.7);
  font-size: 14px;
  font-weight: 400 !important;
}

nav {
  padding-top: 18px;
  padding-bottom: 18px;
}

.navlink {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-2 {
  display: flex;
  gap: 46px;
  align-items: center;

  p {
    cursor: pointer;
    color: rgb(51, 51, 51);
    font-weight: 500;
  }
}

.zakaz-btn {
  font-weight: 600;
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 23px;
  padding-right: 23px;
  background-color: rgb(71, 98, 255);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.zakaz-btn:hover {
  background-color: rgba(71, 99, 255, 0.882);
}

.zakaz-btn:active {
  background-color: rgb(71, 98, 255);
}

.flex-3 {
  display: flex;
}

.text {
  h1 {
    font-size: 60px;
    line-height: 76px;
    color: rgb(51, 51, 51);
  }

  p {
    font-size: 18px;
    color: rgba(51, 51, 51, 0.8);
    margin-top: 16px;
    margin-bottom: 32px;
  }

  button {
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 5px;
    background-color: rgb(71, 98, 255);
    border: none;
    color: #fff;
    cursor: pointer;
  }
}

#section-1 {
  padding-top: 77px;
  padding-bottom: 100px;
}


.love-text {
  font-size: 40px;
  font-weight: 700;
  color: rgb(51, 51, 51);
  text-align: center;
  margin-bottom: 18px;
}

.varonka {
  width: 520px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 270px;
  font-size: 18px;
  color: rgba(51, 51, 51, 0.8);
  margin-bottom: 48px;
}

#section-2 {
  margin-bottom: 58px;
}

.card {
  display: flex;
  width: 505px;
  background-color: rgb(244, 246, 250);
  border-radius: 9px;
  padding-top: 25px;
  padding-left: 28px;
  height: 287px;
}

.text-2 {
  width: 350px !important;

  h3 {
    font-weight: 700 !important;
    font-size: 24px;
    color: rgb(51, 51, 51);
    margin-bottom: 15px;
  }

  p {
    width: 253px;
    color: rgba(51, 51, 51, 0.8);
  }
}

.father-div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.first,
.second {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  z-index: -4 !important;
}

.car {
  position: absolute;
  right: 600px;
  top: 980px;
  z-index: 400 !important;
}

#section-4 {
  background-color: rgb(244, 244, 244);
}

.text-3 {
  width: 540px;

  h2 {
    font-size: 48px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    margin-bottom: 41px !important;
  }

  p {
    width: 500px;
    font-size: 18px;
    color: rgba(51, 51, 51, 0.8);
    margin-bottom: 15px;
  }
}

.flex-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location {
  filter: grayscale(80%);
}

#section-4 {
  margin-bottom: 50px;
}

/* SECTION-3 STARTED */

#section-3 {
  margin-bottom: 197px;
  margin-top: 67px;
}

.father {
  display: flex;
}

.text-4 {
  width: 576px;

  h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: rgb(51, 51, 51);
    margin-bottom: 16px;
  }

  p {
    font-style: 18px;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.8);
  }
}

.img{
    height: 400px;
}

.img-1 {
  position: relative;
  left: 100px;
}

.img-1:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.img-2:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.img-3:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.img-4:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.img-5:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.img-2 {
  position: relative;
  left: 250px;
  top: 15px;
}

.img-3 {
  position: relative;
  left: -20px;
  top: 110px;
}

.img-4 {
  position: relative;
  left: 100px;
  top: 85px;
}

.img-5 {
  position: relative;
  left: 240px;
  top: 105px;
}

/* SECTION-3 ENDED */

/* SECTION-5 STARTED*/

#section-5 {
  h1 {
    text-align: center;
    margin-bottom: 28px;
    font-size: 48px;
    font-weight: 700;
  }

  img {
    margin-bottom: 56px;
  }
}

/* SECTION-5 ENDED*/

/* SECTION-6 STARTED*/

#section-6 {
  background-image: url("./voprosi.png");
  width: auto;
  height: 687px;
  position: relative;
  background-position-x: 70%;
  background-position-y: top;
  display: flex;
  justify-content: end;
}

.vopros {
  background-color: rgb(255, 255, 255);
  width: 611px;
  height: 548px;
  position: absolute;
  left: 650px;
  top: 70px;
  padding: 40px 71px;
  border-radius: 10px;

  h2 {
    padding-top: 30px;
    font-weight: 700;
    font-size: 46px;
    margin-bottom: 40px;
  }

  p {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
    color: rgba(51, 51, 51, 0.8);
    margin-bottom: 35px;
  }
}

.input {
  padding: 19px 22px;
  border-radius: 5px;
  border: 1px solid rgba(71, 98, 255, 0.08);
  outline: none;
  background-color: rgba(71, 98, 255, 0.08);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 23px;
  justify-content: start;
}

.btn-1 {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(71, 98, 255);
  background-color: rgb(71, 98, 255);
  color: #fff;
  transition: all 0.3s ease;
  margin-bottom: 14px;
  padding: 22px 185px;
}

.btn-1:hover {
  background-color: rgba(71, 99, 255, 0.824);
}

.btn:active {
  background-color: rgb(71, 98, 255);
}

/* SECTION-6 ENDED*/

/* FOOTER STARTED */

footer {
  background-color: rgb(26, 26, 26);
}

.text-1 {
  display: flex;
  justify-content: space-between;
  align-items: start;
  color: rgb(255, 255, 255);
  padding-top: 50px;
  padding-bottom: 66px;

  h6 {
    font-weight: 500;
    font-size: 20px;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.flex-23 {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-top: 15px;
}

/* FOOTER ENDED */

@media only screen and (max-width: 600px) {
  .container {
    max-width: 350px !important;
    margin: 0 auto !important;
  }

  .container-2 {
    max-width: 350px !important;
    margin: 0 auto !important;
  }

  .old-div,
  .flex-2 {
    display: none;
  }

  .main-lg {
    width: 150px;
  }

  .zakaz-btn {
    font-weight: 600;
    font-size: 12px;
    color: rgb(255, 255, 255);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(71, 98, 255);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .text {
    h1 {
      font-size: 30px;
      width: 340px;
      line-height: 36px;
      color: rgb(51, 51, 51);
    }

    p {
      font-size: 12px;
      color: rgba(51, 51, 51, 0.8);
      margin-top: 16px;
      margin-bottom: 32px;
    }

    button {
      padding-left: 27px;
      padding-right: 27px;
      padding-top: 6px;
      padding-bottom: 6px;
      border-radius: 5px;
      background-color: rgb(71, 98, 255);
      border: none;
      color: #fff;
      cursor: pointer;
    }
  }

  #section-1 {
    padding-top: 47px;
  }

  .trucks {
    display: none;
  }

  .love-text {
    font-size: 25px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    text-align: center;
    margin-bottom: 18px;
    margin-top: 80px;
  }

  .lorem {
    display: none;
  }

  .text-2 {
    width: 350px !important;

    h3 {
      font-weight: 700 !important;
      font-size: 14px;
      color: rgb(51, 51, 51);
      margin-bottom: 15px;
    }

    p {
      color: rgba(51, 51, 51, 0.8);
      font-size: 10px;
    }
  }

  .card {
    display: flex;
    width: 350px !important;
    background-color: rgb(244, 246, 250);
    border-radius: 9px;
    padding-top: 25px;
    padding-left: 28px;
    height: 287px;
  }

  .first,
  .second {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .text-4 {
    width: 576px;

    h2 {
      font-size: 18px;
      font-weight: 700;
      color: rgb(51, 51, 51);
      margin-bottom: 16px;
    }

    p {
      width: 350px;
      font-style: 18px;
      font-weight: 400;
      color: rgba(51, 51, 51, 0.8);
      font-size: 10px;
    }
  }

  .img-1,
  .img-2,
  .img-3,
  .img-4,
  .img-5 {
    width: 90px !important;
  }

  .img-3 {
    position: relative;
    left: 30px;
  }

  #section-4 {
    padding-top: 30px;
  }

  .img {
    position: relative;
    right: 100px;
    top: 20px;
  }

  .father {
    flex-direction: column;
  }

  .text-3 {
    width: 540px;

    h2 {
      font-size: 28px;
      font-weight: 700;
      color: rgb(51, 51, 51);
      margin-bottom: 41px !important;
    }

    p {
      font-size: 10px;
      color: rgba(51, 51, 51, 0.8);
      margin-bottom: 15px;
    }
  }

  .flex-4 {
    flex-wrap: wrap;
  }

  .location {
    margin-top: 25px;
    filter: grayscale(50%);
    width: 350px;
  }

  .fotochki {
    h1 {
      font-size: 25px !important;
    }

    img {
      width: 350px;
    }
  }

  #section-6 {
    background-image: url("./voprosi.png");
    width: auto;
    height: 487px;
    position: relative;
    background-position-x: 30%;
    background-position-y: top;
    display: flex;
    justify-content: end;

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 23px;
      justify-content: start;
    }

    .btn-1 {
      border-radius: 5px;
      border: 1px solid rgb(71, 98, 255);
      background-color: rgb(71, 98, 255);
      cursor: pointer;
      color: #fff;
      transition: all 0.3s ease;
      margin-bottom: 14px;
      padding: 22px 185px;
    }
  }

  .vopros {
    background-color: rgb(255, 255, 255);
    width: 351px;
    height: 330px;
    position: relative;
    left: 0px;
    top: 70px;
    padding: 20px 40px;
    border-radius: 10px;

    h2 {
      padding-top: 10px;
      font-weight: 700;
      font-size: 26px;
      margin-bottom: 20px;
    }

    p {
      font-weight: 400;
      font-size: 11px;
      margin-bottom: 10px;
      color: rgba(51, 51, 51, 0.8);
      margin-bottom: 15px;
      width: 280px;
    }
  }

  .input {
    padding: 10px 12px;
    border-radius: 5px;
    border: 1px solid rgba(71, 98, 255, 0.08);
    outline: none;
    background-color: rgba(71, 98, 255, 0.08);
    width: 270px;
  }

  .btn-1 {
    border-radius: 5px;
    border: 1px solid rgb(71, 98, 255);
    background-color: rgb(71, 98, 255);
    cursor: pointer;
    color: #fff;
    transition: all 0.3s ease;
    margin-bottom: 14px;
    padding: 12px 15px !important;
    width: 270px !important;
  }

  .btn-1:hover {
    background-color: rgba(71, 99, 255, 0.378);
  }

  .btn:active {
    background-color: rgb(71, 98, 255);
  }

  .text-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: rgb(255, 255, 255);
    padding-top: 50px;
    padding-bottom: 66px;
    gap:60px;

    h6 {
      font-weight: 500;
      font-size: 20px;
    }

    .flex-column {
      display: flex;
      flex-direction: column;
      gap: 15px;

      h6{
        font-size: 15px;
      }

      p{
        font-size: 10px;
      }

    }

    .flex-23{
        
        img{
            width: 20px;
        }

        p{
            font-size: 12px;
        }
        
    }

    .logo-1{
        width: 150px;
    }
  }
}
