*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    scroll-behavior: smooth;
}


ul{
    list-style-type: none;
    list-style: none;
}

.container-2{
    max-width: 1100px !important;
    margin: 0 auto !important;
}


.container{
    max-width: 1078px !important;
    margin: 0 auto !important;
}

.old-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 11px;
    padding-bottom: 11px;
    border-bottom: 1px solid #666666ca;
}

.first-child{
    display: flex;
    align-items: center;
    gap: 20px;

    div{
        display: flex;
        align-items: start;
        color:rgba(51, 51, 51, 0.7);
        font-size: 14px;
        gap: 12px;
        font-weight: 400 !important;
    }
}

.second-child{
    display: flex;
    align-items: start;
    gap:8px;
    color:rgba(51, 51, 51, 0.7);
    font-size: 14px;
    font-weight: 400 !important;
}

nav{
    padding-top: 18px;
    padding-bottom: 18px;
}

.navlink{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-2{
    display: flex;
    gap: 46px;
    align-items: center;

    p {
        cursor: pointer;
        color:rgb(51, 51, 51);
        font-weight: 500;
    }
}

.zakaz-btn{
    font-weight: 600;
    font-size: 16px;
    color:rgb(255, 255, 255);
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 23px;
    padding-right: 23px;
    background-color: rgb(71, 98, 255);
    border-radius: 5px;
    border:none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.zakaz-btn:hover{
    background-color: rgba(71, 99, 255, 0.882);
}

.zakaz-btn:active{
    background-color: rgb(71, 98, 255);
}

.flex-3{
    display: flex;
    align-items: start;
    justify-content: space-between;
}


.text{

    h1{
        font-size: 60px;
        width: 540px;
        line-height: 76px;
        color:rgb(51, 51, 51);
    }

    p{
        font-size: 18px;
        color:rgba(51, 51, 51, 0.8);
        margin-top: 16px;
        margin-bottom: 32px;
    }

    button{
        padding-left: 37px;
        padding-right: 37px;
        padding-top: 11px;
        padding-bottom: 11px;
        border-radius:5px;
        background-color: rgb(71, 98, 255);
        border:none;
        color:#fff;
        cursor: pointer;
    }
}

#section-1{
    padding-top: 77px;
}

.trucks{
    position: relative;
    bottom:50px;
}

.love-text{
    font-size: 40px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    text-align: center;
    margin-bottom: 18px;
}

.varonka{
    width: 520px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 270px;
    font-size: 18px;
    color: rgba(51, 51, 51, 0.8);
    margin-bottom: 48px;
}

#section-2{
    margin-bottom: 58px;
}

.card{
    display: flex;
    width: 505px;
    background-color: rgb(244, 246, 250);
    border-radius: 9px;
    padding-top: 25px;
    padding-left: 28px;
    height: 287px;
}

.text-2{
    width: 350px !important;

    h3{
        font-weight: 700 !important;
        font-size: 24px;
        color: rgb(51, 51, 51);
        margin-bottom: 15px;
    }

    p{
        width: 253px;
        color: rgba(51, 51, 51, 0.8);
    }
    
}

.father-div{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.first, .second{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    z-index: -4 !important;
}

.car{
    position:absolute;
    right:600px;
    top:980px;
    z-index: 400 !important;
}

#section-4{
    background-color: rgb(244, 244, 244);
}

.text-3{
    width: 540px;


    h2{
        font-size: 48px;
        font-weight: 700;
        color: rgb(51, 51, 51);
        margin-bottom: 41px !important;
    }

    p{
        font-size: 18px;
        color: rgba(51, 51, 51, 0.8);
        margin-bottom: 15px;
    }
}

.flex-4{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location{
    filter: grayscale(80%);
}

#section-4{
    margin-bottom: 50px;
    
}

/* SECTION-3 STARTED */

#section-3{
    margin-bottom: 197px;
    margin-top: 67px;
}

.father{
    display: flex;
}

.text-4{
    width: 576px;

    h2{
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
        color: rgb(51, 51, 51);
        margin-bottom: 16px;
    }

    p{
        font-style: 18px;
        font-weight: 400;
        color: rgba(51, 51, 51, 0.8);
        
    }


}

.img-1{
    position: relative;
    left:100px;
}

.img-1:hover{
    transform: scale(1.1,1.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.img-2:hover{
    transform: scale(1.1,1.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.img-3:hover{
    transform: scale(1.1,1.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.img-4:hover{
    transform: scale(1.1,1.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.img-5:hover{
    transform: scale(1.1,1.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.img-2{
    position: relative;
    left:250px;
    top: 15px;
}

.img-3{
    position: relative;
    left:-20px;
    top:110px;
}

.img-4{
    position: relative;
    left:100px;
    top:85px;
}

.img-5{
    position: relative;
    left:240px;
    top:105px;
}

/* SECTION-3 ENDED */

/* SECTION-5 STARTED*/

#section-5{
    h1{
        text-align: center;
        margin-bottom: 28px;
        font-size: 48px;
        font-weight: 700;
    }
    
    img{
        margin-bottom: 56px;
    }
}

/* SECTION-5 ENDED*/

/* SECTION-6 STARTED*/

#section-6{
    background-image: url("./voprosi.png");
    width:auto;
    height: 687px;
    position: relative;
    background-position-x:70%;
    background-position-y: top;
    display: flex;
    justify-content: end;
}

.vopros{
    background-color: rgb(255, 255, 255);
    width: 611px;
    height: 548px;
    position: relative;
    left: 270px;
    top: 70px;
    padding: 40px 71px;
    border-radius: 10px;
   
    
    h2{
        padding-top:  30px;
        font-weight: 700;
    font-size: 46px;
    margin-bottom: 40px;
    }

    p{
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 20px;
        color:rgba(51, 51, 51, 0.8);
        margin-bottom: 35px;
    }

}

.input{
    padding: 19px 22px;
    border-radius: 5px;
    border: 1px solid rgba(71, 98, 255, 0.08);
    outline: none;
    background-color: rgba(71, 98, 255, 0.08);
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 23px;
    justify-content: start;
}

.btn-1{
    border-radius: 5px;
    border: 1px solid  rgb(71, 98, 255);
    background-color: rgb(71, 98, 255);
    cursor: pointer;
    color:#fff;
    transition: all 0.3s ease;
    margin-bottom: 14px;
    padding: 22px 185px;
}

.btn-1:hover{
    background-color: rgba(71, 99, 255, 0.824);
}

.btn:active{
    background-color: rgb(71, 98, 255);
}


/* SECTION-6 ENDED*/

/* FOOTER STARTED */

footer{
    width:1440px ;
    background-color: rgb(26, 26, 26);
}

.text-1{
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: rgb(255, 255, 255);
    padding-top: 50px;
    padding-bottom: 66px;

    h6{
        font-weight: 500;
        font-size: 20px;
    }

    .flex-column{
        display: flex;
        flex-direction: column;
        gap:15px;
    }

        

    
}

.flex-23{
    display: flex;
    align-items: center;
    gap:9px;
    margin-top: 15px;
}

/* FOOTER ENDED */